{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="openDrawer inlay-padding clay-border-three double-border-three bg-blue">
        <div class="flex column al-center clay-border-three">
            <div class="fifty-vw margin-bottom bg-cream clay-border-three">
                <div class="flex column al-center padding">
                    {% for product in products %}
                        <img class="image-width image-height"src="{{ product.images.url }}" />
                        <div class="flex column">
                            <div >
                                <div class="flex space-btwn">
                                    <h2 class="HWT no-margin" style="color: {{ product.primary_color }}">{{ product.product_name }}</h2>
                                    <h2 class="HWT no-margin" style="color: {{ product.primary_color }}">${{ product.price }}</h2>
                                </div>
                                <p class="no-margin" style="color: {{ product.primary_color }}">Recipes by: {{ product.recipe_authors }}</p>
                                <p class="no-margin" style="color: {{ product.primary_color }}">Illustrations by: {{ product.illustrators}}</p>
                            </div>
                            <p style="color: {{ product.secondary_color }}">{{ product.description }}</p>
                        </div>
                    {% endfor %}
                    <!-- <h2 class="HWT" style="color: #E58C87">Summer Series</h2> -->
                    <!-- <img class="image-width image-height"src="{% static 'media/SummerTitlePage.png' %}" /> -->
                    <!-- <div class="forty-vw flex space-btwn margin-top">
                        <div class="flex column">
                            <h3 class="garamond" style="color: #E58C87">postcards</h3>    
                            <ul style="color: #76C498">
                                <li>Cover Card</li>
                                <li>Fried Green Tomatoes</li>
                                <li>Pickled Tomatoes</li>
                                <li>Buttermilk Dressing</li>
                                <li>Fried Green Tomato, Pickled Tomato Sandy</li>
                                <li>Pesto</li>
                                <li>Brown Rice and Caramelized Peach Milk</li>
                                <li>Garlic Scapes with Mint</li>
                            </ul>
                        </div>
                        <div class="flex column margin-left">
                            <h3 class="garamond" style="color: #E58C87">details</h3>    
                            <ul style="color: #76C498">
                                <li >8 4x6 postcards</li>
                                <li >Postage not included</li>
                            </ul>
                        </div>
                    </div>
                        <div class="flex column al-center margin-top">
                            <h3 class="HWT" style="color: #E58C87;">$20.00</h3>
                            
                        </div> -->
                        <!-- {% for price in prices %}
                            <div class="flex column al-center margin-top">
                                <h3 class="HWT" style="color: #E58C87;">${{ price.get_display_price }}</h3>
                                <section>
                                    <form action="create-checkout-session/{{price.id}}" method="POST">
                                        {% csrf_token %}
                                        <button class="checkout-button" style="border-color: #E58C87; color: #E58C87; box-shadow: 5px 5px 0px  #E58C87;" type="submit" id="checkout-button">
                                            <h3 class="HWT">Purchase</h3>
                                        </button>
                                    </form>
                                </section>
                            </div>
                        {% endfor %} -->
                </div>
            </div>
        </div>        
    </div>
{% endblock body %}