{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="openDrawer inlay-padding clay-border-three double-border-three bg-blue">
        <div class="flex column al-center clay-border-three">
            <div class="fifty-vw margin-bottom bg-cream clay-border-three">
                <div class="flex column al-center padding">
                    <h2 class="HWT clay-text">Welcome to our mailbox</h2>
                    <p>You Can Cook Literally Anything is a project by Lexi Adams and Ampersand Paris, two best-friends seperated by 1,413 miles. They grew up together in Lawrence, Kansas one illustrating and the other cooking and both obsessed with stationary and nice pens. You Can Cook Anything is a celebration of friendship across time and space with a collector's twist. Each pack of recipe postcards contains seven recipe postcards and a cover card, all with unique illustrations. We invite you join our correspondance and send and receive these postcards with your pen pals, lovers, rivals, family, and friends. You can create an account and use this website to record your correspondance and keep track of your collection. Try and collect them all as we expand the collection of recipes and introduce guest chefs, shiny postcards, golden tickets, and more.</p>
                    <img class="image-width image-height" src="{% static 'images/Lexi.jpg' %}" />
                    <br></br>
                    <img class="image-width image-height" src="{% static 'images/Ampersand.jpg' %}" />
                    <p>You Can Cook Literally Anything is about the relationships that we build when we cook, when we eat, and when we actively reach out to the ones that we love. We invite you into a queer, colorful culinary universe that is filled with butch, femme, & gender fluid cartoon connoisseurs.</p>
                    <p>Each postcard has an illustration of a connoisseur caught in a moment we imagine you might find yourself in after cooking these recipes. The intention of these postcards is to share this universe in order to fortify our own with more beauty, care, and possibility— and maybe, even as importantly, good food fuels.</p>
                </div>
            </div>
        </div>        
    </div>
{% endblock body %}