{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="openDrawer inlay-padding clay-border-three double-border-three bg-blue">
        <div class="flex column al-center clay-border-three">
            <div class="fifty-vw margin-bottom bg-cream clay-border-three">
                <div class="flex column al-center padding">
                    <div class="margin-top">
                        <h2>Cart</h2>
                        <table>
                            <tr>
                                <th></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
{% endblock body %}